<div ng-controller="accountController" class="container-fluid">
    <h4>Export account data</h4>
    <div class="well">
        <a type="button"
           class="btn btn-success"
           ng-href="{{exportDataUrl}}">Export Data</a>
    </div>

    <h4>Import data from file</h4>
    <div class="well">
        <input type="file" nv-file-select uploader="uploader"/>
        <button class="btn btn-info"
                ng-disabled="uploader.queue.length == 0"
                ng-click="uploader.uploadAll()">Upload</button>
    </div>

    <h4>Clear all data</h4>
    <div class="well">
        <button type="button"
                class="btn btn-danger"
                ng-click="deleteData()">Clear Data</button>
    </div>
</div>