<html ng-app="App">
<head>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>
    <script src="js/angular-ext.js"></script>
    <script src="js/ng-google-chart.js"></script>
    <script src="js/quantify-api.js"></script>
    <script src="js/location-controller.js"></script>
</head>
<body ng-controller='locController'>
    <div google-chart chart="cityChart"></div>
    <div google-chart chart="countryChart"></div>
    <table>
        <tr>
            <th>Date</th>
            <th>City</th>
            <th>Country</th>
            <th>Transportation</th>
        </tr>
        <tr ng-repeat="event in events"
            ng-class-odd="'odd'"
            ng-class-even="'even'">
            <td>{{event.ts}}</td>
            <td>{{event.city}}</td>
            <td>{{event.country}}</td>
            <td>{{event.transport}}</td>
        </tr>
    </table>
    <button ng-click="refresh()">Refresh</button>
</body>
</html>
